extends layout

block content
    h2(style='text-align: center' class='green-text text-darken-1')= title
    p(style='text-align: center') Welcome to ExpressJS/NodeJS App
    hr/
    // Wrapper
    #wrapper(class='container')
        #row(class='row')
            // USER INFO
            h5 User Info
            #userInfo(class='col s6 m6 lg6')
                div(class='card blue-grey darken-1')
                    div(class='card-content white-text')
                        #userInfoName(class='card-title') Name
                            br
                        p(style='text-align:center')
                            span#userInfoAge Age
                            br
                            span#userInfoGender Gender
                            br
                            span#userInfoLocation Location
                    div(class='card-action')
                        a(id="editbutton" class='' style='cursor: pointer') Edit
            // /USER INFO

            // USER LIST
            #userList(class='col s6 m6 lg6')
                table(class='hoverable')
                    thead
                        th UserName
                        th Email
                        th Delete
                    tbody
            // /USER LIST
        // ADD USER
        h5 Add User
        #addUser
            fieldset
                label(for="inputUserName") Username
                input#inputUserName(type='text', placeholder='Username')
                br
                label(for="einputUserEmail") Email Address
                input#inputUserEmail(type='text', placeholder='Email')
                br
                label(for="inputUserFullName") Full Name
                input#inputUserFullname(type='text', placeholder='Full Name')
                br
                label(for="inputUserAge") Age
                input#inputUserAge(type='text', placeholder='Age')
                br
                label(for="inputUserLocation") Location
                input#inputUserLocation(type='text', placeholder='Location')
                br
                label(for="inputUserGender") Gender
                input#inputUserGender(type='text', placeholder='Gender')
                br
                button#btnAddUser(class='btn green darken-1') Add User
        // /ADD USER
    // /WRAPPER

    // Modal Structure
    #modalEdit(class='modal')
        div(class='modal-content')
            h4 Edit User
            #editUser
            fieldset
                label(for="editUserName") Username
                input#editUserName(type='text')
                br
                label(for="editUserEmail") Email Address
                input#editUserEmail(type='text')
                br
                label(for="editUserFullName") Full Name
                input#editUserFullname(type='text')
                br
                label(for="editUserAge") Age
                input#editUserAge(type='text')
                br
                label(for="editUserLocation") Location
                input#editUserLocation(type='text')
                br
                label(for="editUserGender") Gender
                input#editUserGender(type='text')
                br
                button#btnEditUser(class='btn green darken-1') Save
        div(class='modal-footer')
            a(href='#!' class='modal-action modal-close waves-effect waves-red btn-flat') Cancel
         